---
title: Home
---

{% include head.html %}

<body>
  <div class="container-fluid splash">
    <img id="splash-logo" class="shadow-lg" class="fade-in" src="assets/img/Noah_Paladino_Headshot_Square.jpg" />
    <h1 class="fade-in one">NOAH PALADINO</h1>
    <h4 class="fade-in two text-light mb-4">
      PhD Candidate in Physics at MIT
    </h4>
    <h5 class="fade-in two text-light"> Affiliations:
      {% for affiliation in site.affiliations %}
        <a class="badge text-bg-dark" href="{{ affiliation.link }}">{{ affiliation.org }}</a>
      {% endfor %}
    </h5>
    <div class="container-fluid splash-blurb">
      <div class="row justify-content-center socials">
        <div class="col-1">
          <a class="btn btn-light btn-social fade-in two" href="https://github.com/ngpaladi"><i
              class="fa fa-github"></i></a>
        </div>
        <div class="col-1">
          <a class="btn btn-light btn-social fade-in three" href="https://twitter.com/noahpaladino"><i
              class="fa fa-twitter"></i></a>
        </div>

        <div class="col-1">
          <a class="btn btn-light fade-in btn-social four" href="https://www.linkedin.com/in/noahpaladino"><i
              class="fa fa-linkedin"></i></a>
        </div>

      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center pseudo-nav">
        <div class="col-lg-2">
          <a class="btn btn-light btn-bounce fade-in four" href="./assets/pdf/Noah_Paladino_web_cv.pdf">CV</a>
        </div>
        <div class="col-lg-2">
          <a class="btn btn-light btn-bounce fade-in five page-scroll smoothScroll" href="#research">Research</a>
        </div>
        <div class="col-lg-2">
          <a class="btn btn-light btn-bounce fade-in six page-scroll smoothScroll" href="#projects">Projects</a>
        </div>
        <div class="col-lg-2">
          <a class="btn btn-light btn-bounce fade-in seven page-scroll smoothScroll"
            href="http://www.noahpaladino.com/blog">Blog</a>
        </div>
      </div>
    </div>

  </div>

  <div class="container-fluid section section-light" id="research">

    <div class="container">
      <h1>RESEARCH</h1>

      <div class="section-blurb">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <p class="">{{ site.research.blurb }}</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">

        {% for entry in site.research.entries %}

        <div class="col-md-8">
          <div class="card floating-box m-4">
            <div class="card-body">
              <a href="{{ entry.link | relative_url }}"><h3 class="card-title">{{entry.title}}</h3></a>
              <h5 class="card-subtitle text-muted">{{entry.timeline}}</h5> <br />
              <p class="card-text">{{entry.description}}</p>
            </div>
            <div class="card-footer">
              {% for paper in entry.publications %}
              <a class="badge text-bg-dark" href="{{ paper }}">{{ paper | split: "/" | last }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <!-- <a class="btn btn-light see-more" href="./assets/pdf/Noah_Paladino_web_cv.pdf">See
        More</a> -->
    </div>
  </div>


  <div class="container-fluid section section-dark" id="projects">
    <div class="container">
      <h1>PROJECTS</h1>

      <div class="section-blurb">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <p class=""> {{ site.projects.blurb }}</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        {% for entry in site.projects.entries %}

        <div class="col-md-8">
          <div class="card floating-box m-4">
            <div class="card-body">
              <a href="{{ entry.link | relative_url }}"><h3 class="card-title">{{entry.title}}</h3></a>
              <h5 class="card-subtitle text-muted">{{entry.timeline}}</h5> <br />
              <p class="card-text">{{entry.description}}</p>
            </div>
            <div class="card-footer">
              {% for item in entry.extra_links %}
              <a class="badge text-bg-dark" href="{{ item }}">{{ item | replace: "http://", "" | replace: "https://", "" | split: "/" | compact | first  }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- <a class="btn btn-light see-more" href="./assets/pdf/Noah_Paladino_web_cv.pdf">See
      More</a> -->
  </div>
  </div>
  </div>



  <footer class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-sm-2" style="padding-bottom: 40px">
        <h2 style="padding-bottom: 10px">Contact</h2>
        <h6>Questions?</h6>
        <h6>Send me an email at:</h6>
        <h6 class="email">{{ site.email }}</h6>
      </div>
      <div class="col-sm-2" style="padding-bottom: 40px">
        <h2 style="padding-bottom: 10px">Resources</h2>
        <h6><a class="footer-link" href="https://github.com/ngpaladi">GitHub</a></h6>
        <h6><a class="footer-link" href="https://noahpaladino.com/blog">Blog</a></h6>
      </div>

    </div>
    <p>&copy; 2015-
      <script type="text/javascript"> document.write(new Date().getFullYear());</script> Noah Paladino. All rights
      reserved.
    </p>
  </footer>
  <script>
    $(document).ready(function () {
      // Add smooth scrolling to all links
      $(".smoothScroll").on('click', function (event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function () {

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>
  <script type="text/javascript">
    function cropimages() {
      $('.card-img-top').height(0.6 * $('#example-img').width());
    }
    cropimages();
  </script>

</body>
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-96844481-1', 'auto');
  ga('send', 'pageview');
</script>

</html>