<footer class="site-footer">
  <div class="wrap">
    <div class="footer-grid">
      <div class="footer-col">
        <h2>Contact</h2>
        <p>Questions? Send me an email at</p>
        <a href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a>
      </div>
      <div class="footer-col">
        <h2>Resources</h2>
        <a href="https://github.com/ngpaladi">GitHub</a>
        <a href="https://noahpaladino.com/blog">Blog</a>
      </div>
    </div>
    <p class="copyright">&copy; 2015&ndash;{{ now.Year }} Noah Paladino. All rights reserved.</p>
  </div>
</footer>
